body {
  position: absolute;
  width: 100%;
  height: 100%;
}

header {
  height: 140px;
  padding: 20px;
  text-align: center;
  color: #2d3c49;
  position: relative;
  z-index: 2;
}

header#logo {}

#myName, #myTitle {
  text-transform: uppercase;
}

main {
  margin: 0px;
}

section#hero {
  position: relative;
  margin-top: 20px;
  height: 25em;
  width: 100%;
  background-image: url("https://placeimg.com/640/480/any/grayscale");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section#works {}

section#works .title {
  margin-top: 30px;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 25px;
  color: #7d97ad;
}

section#works a {
  color: #02b3e4;
}

section#works div.work {
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
}

section#works div.work .image {
  height: 200px;
}

section#works div.work div.content {}

section#works div.work .content .title {
  color: aliceblue;
}

section#works div.work#appify {}

section#works div.work#sun-flower {}

section#works div.work#bokeh {}