* {
  margin: 0px auto;
  padding: 0px auto;
}

html {}

body {
  height: 100%
}

header {
  height: 140px;
  padding: 20px;
  text-align: center;
  color: #2d3c49;
}

header#logo {}

#myName, #myTitle {
  text-transform: uppercase;
}

main {
  margin: 0px;
}

#hero {
  position: relative;
  margin-top: 40px;
  height: 500px;
  width: 100%;
  background-image: url("https://placeimg.com/800/500/people/2");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

#works {}

#works .header {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 25px;
  color: #7d97ad;
}

#works .work {
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
}

#works .work .image {
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#works .work#appify .image {
  background-image: url("https://placeimg.com/400/300/tech/1");
}

#works .work#sun-flower .image {
  background-image: url("https://placeimg.com/400/300/tech/2");
}

#works .work#bokeh .image {
  background-image: url("https://placeimg.com/400/300/tech/3");
}

#works .work .content {
  position: relative;
  padding-top: 10px
}

#works .work .content .title {
  margin: 0;
  color: #2d3c49;
  text-transform: uppercase;
}

#works .work .content a {
  color: #02b3e4;
}