@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100');

* {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 auto;
  padding: 0;
  --main-color: #02b3e4;
  --sub-color: #2d3c49;
  --third-color: #7d97ad;
  --dark-color: #222;
  --light-color: #eee;
}

container {
  display: flex;
  flex-wrap: wrap;
}

header{
  width: 98%;
  text-transform: uppercase;
}

header container {
  padding: 10px 15px 7px;
  text-align: center;
  color: var(--sub-color);
  justify-content: space-between;
  align-items: flex-end;
}

header .logo img{
  width: 30px;
}

header .my-name {
  line-height: 17px;
  font-size: 17pt;
  font-weight: 200;
}

header .my-title {
  margin-top: 3px;
  font-size: 7pt;
  font-weight: 600;
  font-family: 'arial';
  color: var(--third-color);
}

#hero {
  margin: 15px auto 0px;
  height: 350px;
  background: url(https://placeimg.com/800/500/people/2) no-repeat top center;
  background-size: cover;
}

#works {
  width: 98%;
  padding-top: 25px;
  max-width: 1048px;
}

#works header {
  width: 100%;
  padding-bottom: 15px;
  text-align: center;
  text-transform: capitalize;
  font-size: 13pt;
  color: var(--third-color);
}

#works .work {
  width: 300px;
  padding-bottom: 15px;
  text-align: center;
}

#works .work .image {
  height: 200px;
  background-size: cover;
}

#works .work#appify .image {
  background: url(https://placeimg.com/400/300/tech/1) no-repeat top center;
}

#works .work#sun-flower .image {
  background: url(https://placeimg.com/400/300/tech/2) no-repeat top center;
}

#works .work#bokeh .image {
  background: url(https://placeimg.com/400/300/tech/3) no-repeat top center;
}

#works .work .content {
  padding: 8px;
}

#works .work .content .title {
  width: 100%;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 16pt;
  font-weight: 500;
}

.work .content a {
  text-decoration: none;
  padding: 5px;
  width: 100%;
  font-family: sans-serif;
  font-size: 9pt;
  color: var(--third-color);
}

/*
/* TODO: Dark Theme */
/*

body {
  background-color: var(--dark-color);
}

a {
  color: var(--sub-color);
}

header {
  color: var(--light-color);
}

header .my-title {
  color: var(--third-color);
}

.work .title {
  color: var(--light-color);
}

*/
